{include file="../application/index/view/base/header.html" /}
<style type="text/css">
    .container {margin-bottom: 100px;}
    .container .info_box{background-color: #fff;border-radius: 5px;padding: 20px;margin-bottom: 20px;}
    .container .info_box a{font-size:1.2em;color:#666;}
    .container .info_box a:hover{text-decoration: underline;color:}
    .container .info_box table{border:none;}
    .container .info_box p{font-size:1.2em;margin:30px 20px;}
    .container .info_box p span{margin-right: 50px;}
</style>
<div class="container">
    <div class="info_box">
        <a href="{:url('index/user/user_list')}">&lt;&lt;&nbsp;&nbsp;返回</a>
        <hr>
        <div class="order_info">
            <p>
                <span>订单号：{$user.order_number}</span>
                <span>创建者：{$user.aid}</span>
                <span>创建时间：{$user.add_time}</span>
            </p>
            <p>
                <span>联系人：{$user.userName}</span>
                <span>联系电话：{$user.iphone}</span>
            </p>
            <p>
                <span>到达方式：{$user_trip.arrive_traffic}</span>
                <span>到达时间：{$user_trip.arrive_time}</span>
                <span>到达信息：{$user_trip.arrive_info}</span>
            </p>
            <p>
                <span>返回方式：{$user_trip.return_traffic}</span>
                <span>返回时间：{$user_trip.return_time}</span>
                <span>返回信息：{$user_trip.return_info}</span>
            </p>

        </div>
    </div>
</div>
<script></script>
{include file="../application/index/view/base/footer.html" /}